##################################
#  @package     alapnian         #
#  @author      XVIID Developer	 #
#  @copyright   XVIID            #
#  @license     MIT              #
##################################


#-------------------------
# Sass
#-------------------------
.sass-cache/
*.css.map
*.sass.map
*.scss.map

#-------------------------
# NPM
#-------------------------
node_modules
npm-debug.log

#-------------------------
# Build Artifacts
#-------------------------
*.lock.json
*-lock.json
*.backup
*.cache
*.jest
*.tgz
dist
package

#-------------------------
# IDE / Development Files
#-------------------------

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
/api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache